.button {
    width: 166px;
    height: 166px;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    background-color: transparent;
    background-image: url("./assets/purple.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.button .button-icon {
    opacity: 0.45;
    width: 55px;
    height: 55px;
}

.button:hover {
    background-image: url('./assets/yellow.svg');
}

.button:hover .button-icon {
    opacity: 0.87;
}
